<footer>
  <div class="f-info">

    <!-- LEFT -->
    <div class="f-info-socials">
      <i class="fa-brands fa-facebook"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
    </div>

    <!-- CENTER -->
    <div class="f-info-brand">
      © Wandurlust Private Limited
    </div>

    <!-- RIGHT -->
    <div class="f-info-links">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>

  </div>
</footer>
